{% extends "base.html" %}

{% block content %}

<h3 class="teal-text text-darken-4 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large teal darken-2">Add Task
            <i class="fa-solid fa-square-plus right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for task in tasks|sort(attribute="due_date") %}
        <li>
            <div class="collapsible-header white-text teal darken-4">
                <i class="fa-solid fa-caret-down"></i>
                <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime('%d %B %Y') }}
                {% if task.is_urgent %}
                    &emsp;
                    <i class="fa-solid fa-circle-exclamation teal-text text-lighten-2"></i>
                {% endif %}
            </div>
            <div class="collapsible-body white-text teal darken-2">
                <strong>{{ task.category }}</strong>
                <p>{{ task.task_description }}</p>
                <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn teal lighten-1">Edit</a>
                <a class="btn red modal-trigger" href="#task{{ task.id }}">Delete</a>
            </div>
            <!-- Modal for deleting tasks -->
            <div id="task{{ task.id }}" class="modal center-align">
                <div class="modal-content">
                    <h4>Delete Task</h4>
                    <p>Are you sure you want to delete {{ task.task_name }}?
                        (This cannot be undone)
                    </p>
                </div>
                <hr>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_task', task_id=task.id) }}"
                        class="waves-effect waves-teal btn-flat grey-text text-darken-4">Delete</a>
                    <a href="#" class="modal-close waves-effect waves-teal btn-flat grey-text text-darken-4">Cancel</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}